body,html,section,main{
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  min-height: 600px;
  min-width: 550px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.ltext{
  text-align: left;
  font-size: 1.3em;
}

.rtext{
  text-align: right;
  font-size: 1.3em;
}

#guards{
  height: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.scrollGuard{
  height: 50%;
  width: 100%;
}

.loading{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FAF6F1;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.loadingborder{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 85%;
  border-width: thick;
  border-style: solid;
  border-color: #FF0000;
}

.loadingText{
  font-size: 2em;
  color: #1aa6bf;
}

.hidden {
  display: none;
}

.loadingIcon{
  max-width: 200px;
}

#text{
  background-color: #ff00ff;
}

#upperGuard{
  background-color: #FFF9BF;
}

#lowerGuard{
  background-color: #642687;
}

h1{
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
}

.super-box{
  display: flex;
  height: 300%;
  flex-direction: column;
  justify-content: space-around;
}

.container{
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.row{
  width: 100%;
}

.col-12{
  width: 96%;
}

.col-10{
  width: 80%;
}

.col-7{
  width: 57%;
}

.col-6{
  width: 49%;
}

.col-6-full{
  width: 50%;
}

.col-5{
  width: 10%;
}

.col-4{
  width: 32%;
}

.col-3{
  width: 24%;
}

.col-1{
  width: 8%;
}

.page{
  width: 100%;
  height: 100%;
  min-height: 600px;
}

#page_0{
  /* For browsers that do not support gradients :( */
  background: #1ab3a5;
  /* Safari 5.1 to 6.0 */
  background: -webkit-repeating-linear-gradient(#FFF9BF, #3cbda8, #15b1a4, #09AEA3);
  /* Opera 11.1 to 12.0 */
  background: -o-repeating-linear-gradient(#FFF9BF, #3cbda8, #15b1a4, #09AEA3);
  /* Firefox 3.6 to 15 */
  background: -moz-repeating-linear-gradient(#FFF9BF, #3cbda8, #15b1a4, #09AEA3);
  /* Standard syntax */
  background: repeating-linear-gradient(#FFF9BF, #3cbda8, #15b1a4, #09AEA3);
}
#zip{
  font-family: 'Share Tech Mono', serif;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
  background-color: transparent;
  border: none;
}

#zip input{
  font-family: inherit;
  color: inherit;
  border: inherit;
  background-color: inherit;
  font-size: inherit;
  text-align: inherit;
  width: 20%;
  min-width: 180px;
}

#page_1{
  /* For browsers that do not support gradients :( */
  background: #129b9b;
  /* Safari 5.1 to 6.0 */
  background: -webkit-repeating-linear-gradient(#09AEA3, #129b9b, #1E8694);
  /* Opera 11.1 to 12.0 */
  background: -o-repeating-linear-gradient(#09AEA3, #129b9b, #1E8694);
  /* Firefox 3.6 to 15 */
  background: -moz-repeating-linear-gradient(#09AEA3, #129b9b, #1E8694);
  /* Standard syntax */
  background: repeating-linear-gradient(#09AEA3, #129b9b, #1E8694);
}

#barContainer{
  height: 120px;
}

.barLabels{
  width: 59%;
  min-width: 520px;
}

#marker{
  position: absolute;
  font-size: 1.3em;
}

#bar{
  min-width: 500px;
}

#location{
  text-align: right;
  line-height: 180%;
  opacity: .8;
}

#smileyMetrics{
  text-align: left;
  line-height: 180%;
  opacity: .8;
}

#smileyMetrics span{
  text-align: left;
  width: 20%;
}

#sMLabels {
  min-width: 62px;
}

#page_2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* For browsers that do not support gradients :( */
  background: #50418a;
  /* Safari 5.1 to 6.0 */
  background: -webkit-repeating-linear-gradient(#1E8694, #50418a, #642687);
  /* Opera 11.1 to 12.0 */
  background: -o-repeating-linear-gradient(#1E8694, #50418a, #642687);
  /* Firefox 3.6 to 15 */
  background: -moz-repeating-linear-gradient(#1E8694, #50418a, #642687);
  /* Standard syntax */
  background: repeating-linear-gradient(#1E8694, #50418a, #642687);
}
#worseWeather{
  height: 30%;
}
#d3stuff {
  height: 70%;
}
